.sobre-titulo {
  color: palevioletred;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (min-width: 0) {
  .sobre-titulo {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .sobre-titulo {
    font-size: 3.1875rem;
  }
}
