.receita-botao {
  background: palevioletred;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

.receita-botao:hover {
  background: rgb(184, 56, 98);
  cursor: pointer;
}
