.receita-botao {
  background: #8d0606;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

.receita-botao:hover {
  background: #620404;
  cursor: pointer;
}
