header {
  background: white;
  padding: 10px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.caixa {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  margin-right: 20px;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 35px;
}

nav a {
  text-transform: uppercase;
  color: lightpink;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: lightpink;
  text-decoration: underline;
}
nav li:hover a {
  font-size: 25px;
  transition: 0.5s all;
}
.produtos h1 {
  color: palevioletred;
}

.promocoes {
  position: inline;
  background: lightsalmon;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 20px 0;
}
.bordaimagem {
  align-items: center;
  padding: 40px 0 40px;
  margin: 0 40px;
  width: 300px;
  height: 400px;
}
main h1 {
  margin: 25px 0 25px;
  color: lightpink;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}
.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.imagemLogo {
  width: 230px;
  border-radius: 85%;
}
.imagemTamanho {
  margin-top: 10px;
  width: 245px;
  height: 250px;
  border-radius: 50px 5px 25px 0px;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 80px 20px;
  box-sizing: border-box;
  border: 2px solid lightpink;
  border-radius: 50px 5px 25px 0px;
  margin-top: 20px;
}
.produtos li:hover {
  border-color: purple;
}
.produtos li:active {
  border-color: red;
}
.produtos li:hover h2 {
  font-size: 40px;
  transition: 0.5s all;
}

.produtos li:active h2 {
  color: purple;
  transition: 0.5s all;
}
.produtos h2 {
  color: palevioletred;
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 20px;
  color: grey;
  margin: 10px 0 10px;
}
.produto-preco {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  margin: 10px 0 0;
  background-color: palevioletred;
  border-radius: 20px;
  padding: 10px;
}

.produto-preco:active {
  background-color: pink;
  transition: 0.5s all;
}

footer {
  text-align: center;
  background: palevioletred;
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 18px;
  margin: 20px 0;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

form input {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.logoRodape {
  width: 300px;
  border-radius: 100%;
}
