.pessoa-imagem {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.pessoa-imagem--roberta {
  background-image: url(../../Produtos/brincos/brincoFlor.jpeg);
}
.pessoa-imagem--marcela {
  background-image: url(../../Produtos/aneis/anelVioleta.jpeg);
}
.pessoa-imagem--andreia {
  background-image: url(../../Produtos/colares/colarCoracao.jpeg);
}
