.quemSomos-titulo {
  margin-bottom: 1rem;
  color: lightgrey;
  font-size: 3.5rem;
  font-family: Pacifico, cursive;
}
.quemSomos-titulo-2{
  margin-bottom: 1rem;
  color: lightgrey;
  font-size: 1.8rem;
  font-family: Pacifico, cursive;
}